<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add your location</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link rel="stylesheet" href="./vendor/select2/css/select2.min.css">
    <link href="./css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        window.onload=function() {
            document.getElementById('able').onclick = function(){
                window.close();
            }
        }//close

        function previewImage(f){
            var file = f.files;

            // 확장자 체크
            if(!/\.(gif|jpg|jpeg|png)$/i.test(file[0].name)){
                alert('gif, jpg, png 파일만 선택해 주세요.\n\n현재 파일 : ' + file[0].name);

                // 선택한 파일 초기화
                f.outerHTML = f.outerHTML;
                document.getElementById('preview').innerHTML = '';
            }
            else {
                // FileReader 객체 사용
                var reader = new FileReader();

                // 파일 읽기가 완료되었을때 실행
                reader.onload = function(rst){
                    document.getElementById('preview').innerHTML = '<img src="' + rst.target.result + '">';
                }
                // 파일을 읽는다
                reader.readAsDataURL(file[0]);
            }
        }

    </script>
</head>

<body>

<li class="nav-item dropdown header-profile">
    <a class="nav-link" href="#" role="button" data-toggle="dropdown">
        <i class="mdi mdi-account"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-left">
        <a href="./app-profile.html" class="dropdown-item">
            <i class="icon-user"></i>
            <span class="ml-2">개인정보 수정 </span>
        </a>

        <a href="./page-login.html" class="dropdown-item">
            <i class="icon-key"></i>
            <span class="ml-2">Logout </span>
        </a>
    </div>
</li>
<div class="mb-3">
    <form>
        <input class="form-control" type="search" placeholder="장소 이름을 입력하세요" aria-label="Search">
    </form>
</div>
<div>
    <input type="file" name="files1" accept="image/*" onchange="previewImage(this)" />
    <div id="preview"></div>
</div>
<div class="mb-3">
    <textarea id="email-compose-editor" class="textarea_editor form-control bg-transparent" rows="10" placeholder="comment"></textarea>
</div>

<button id="able" class="btn btn-primary mr-2" id="js-programmatic-enable">확인</button>
<button id="albe" class="btn btn-primary" id="js-programmatic-disable">취소</button>



</body>

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="./vendor/global/global.min.js"></script>
<script src="./js/quixnav-init.js"></script>
<script src="./js/custom.min.js"></script>


<!-- Vectormap -->
<script src="./vendor/raphael/raphael.min.js"></script>
<script src="./vendor/morris/morris.min.js"></script>

<script src="./vendor/gaugeJS/dist/gauge.min.js"></script>


<!-- Owl Carousel -->
<script src="./vendor/owl-carousel/js/owl.carousel.min.js"></script>

<!-- Counter Up -->
<script src="./vendor/jqvmap/js/jquery.vmap.min.js"></script>
<script src="./vendor/jqvmap/js/jquery.vmap.usa.js"></script>
<script src="./vendor/jquery.counterup/jquery.counterup.min.js"></script>


<script src="./js/dashboard/dashboard-1.js"></script>

</html>