
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">


    <title>ECG 실시간 부정맥 검출 & 공간에 따른 스트레스 분석</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <style>

        .wrapper {
            display: flex;
        }

        .wrapper > div {
            flex: 1;
        }

        .left50{float:left; margin-left:100px;}
        .left100{float:left; margin-left:100px;}
        .right100{float:right; margin-right:100px}

        .font_white{font-family:verdana; font-weight:bold; color:white;}
        .right_write{font-size:18px; font-family:courier; float:right; margin-left:10px;}
        .left_write{font-size:18px; font-family:courier; }
        .page{font-size:40px; color: black;}

    </style>
</head>

<body style="background-color:#C5A885;">

    {% block body %}
    {% import 'layout/pagination.html' as macros %}


    <!--헤더-->
    <div >
        <img style="margin-right:100px; float:right" href="{{ url_for('user.signout') }}" src="https://img.icons8.com/material-outlined/24/000000/person-male.png"/>
        <div style="margin-right:20px; float:right"><span href="#"><U>{{ current_user.name }}</U></span>님</div>
    </div>
    <div style="clear:both;"></div>

    <div style="text-align: center" href="#" >
        <img src="https://img.icons8.com/material-outlined/48/000000/heart-with-pulse.png"/>
    </div>

    <h2 style="font-family:verdana; text-align:center;" href="#">ECG 실시간 부정맥 검출 & 공간에 따른 스트레스 분석</h2>



    <!--첫번째 page-->


    <br>
    <div>
        <ul>
            <h1 class="font_white"><span class="page">1</span> 2 3 <span class="page">  모든 데이터 불러오기</span></h1>
            <hr>

            <div class="wrapper">
                {% for datainfo in datainfos1 %}
                <div>
                    <p id="ecg" class="left100">
                        <img style="width:800px;" src="{{ datainfo.image }}">
                    </p>
                </div>
                <div>
                   <div class="left50" >
                       <br><br>
                       <div href="#"><img src="https://img.icons8.com/ios-glyphs/30/000000/add-database.png"/></div>
                       <div>page번호</div>
                        <p > {{ datainfo.local }} 에서의 평균 스트레스 지수  </p>
                        <br>
                        <div style="clear:both;"></div>
                        <p >데이터 측정 시간 {{ datainfo.time }}</p>
                        <div style="clear:both;"></div>
                        <p >PAC 여부 {{ datainfo.pac }}</p>
                        <div style="clear:both;"></div>
                        <p >PVC 여부 {{ datainfo.pvc }}</p>
                        <div style="clear:both;"></div>
                        <p >LBBB 여부 {{ datainfo.lbbb }}</p>
                        <div style="clear:both;"></div>
                        <p >RBBB 여부 {{ datainfo.rbbb }}</p>
                   </div>
                    <div style="clear:both;"></div>
                    {% endfor %}
                    <div class="left50" >
                      {{ macros.pagination_index(pagination1, 'index.index') }}
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <div style="clear:both;"></div>
    <br><br>



    <!--두번째 page-->
    <div>
        <ul>
            <h1 class="font_white">1 <span class="page">2</span> 3 <span class="page">  스트레스 받는 장소 순위 불러오기</span></h1><hr>
            <hr>

            <div class="wrapper">
                {% for datainfo in datainfos2 %}
                <div>
                   <div class="left50" >
                       <br><br>
                        <p > {{ datainfo.local }} 에서의 평균 스트레스 지수  </p>
                        <br>
                        <div style="clear:both;"></div>
                        <p >데이터 입력 횟수 {{ datainfo.count }}</p>
                        <div style="clear:both;"></div>
                        <p >스트레스 검출 횟수 {{ datainfo.stress_count }}</p>
                   </div>
                    <div style="clear:both;"></div>
                    {% endfor %}
                </div>
            </div>
        </ul>
    </div>
    <div style="clear:both;"></div>


    <br>
    <div>
        <ul>
            <h1 class="font_white">1 2 <span class="page">3</span> <span class="page">  부정맥 데이터 불러오기</span></h1>
            <hr>

            <div class="wrapper">
                {% for datainfo in datainfos3 %}
                <div>
                    <p id="ecg" class="left100">
                        <img style="width:800px;" src="{{ datainfo.image }}">
                    </p>
                </div>
                <div>
                   <div class="left50" >
                       <br><br>
                       <div href="#"><img src="https://img.icons8.com/ios-glyphs/30/000000/add-database.png"/></div>
                      
                        <p > {{ datainfo.local }} 에서의 평균 스트레스 지수  </p>
                        <br>
                        <div style="clear:both;"></div>
                        <p >데이터 측정 시간 {{ datainfo.time }}</p>
                        <div style="clear:both;"></div>
                        <p >PAC 여부 {{ datainfo.pac }}</p>
                        <div style="clear:both;"></div>
                        <p >PVC 여부 {{ datainfo.pvc }}</p>
                        <div style="clear:both;"></div>
                        <p >LBBB 여부 {{ datainfo.lbbb }}</p>
                        <div style="clear:both;"></div>
                        <p >RBBB 여부 {{ datainfo.rbbb }}</p>
                   </div>
                    <div style="clear:both;"></div>
                    {% endfor %}
                    <div class="left50" >
                      {{ macros.pagination_index(pagination3, 'index.index') }}
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <div style="clear:both;"></div>
    <br><br>

</body>
</html>
{% endblock %}
