{% extends 'layout/base.html' %}

{% block head %}
  <title>datainfos</title>
{% endblock %}

{% block body %}
  <div id="container">
    {% include('layout/nav.html') %}
    <div class="card-group">
      {% if not datainfos1 %}
        <h2 class="text-center p-5"><a href="{{ url_for('index.create') }}">데이터가 없습니다. 데이터를 추가해주세요.</a></h2>
      {% endif %}
      {% for datainfo in datainfos1 %}
        <div class="card" style="">
          <img class="card-img-top" src="{{ datainfo.image }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ datainfo.local }}</h5>
            <p class="card-text">{{ datainfo.time }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">스트레스 여부: {{ datainfo.stressData }}</li>
            <li class="list-group-item">부정맥 여부: {{ datainfo.arrhythmia }}</li>
            <li class="list-group-item">PAC 여부: {{ datainfo.pac }}</li>
            <li class="list-group-item">PVC 여부: {{ datainfo.pvc }}</li>
            <li class="list-group-item">RBBB 여부: {{ datainfo.LBBB }}</li>
            <li class="list-group-item">LBBB 여부: {{ datainfo.LBBB }}</li>
          </ul>
        </div>
      {% endfor %}
      {{ macros.pagination_index(pagination1, 'index.index') }}
    </div>
  </div>

  <div id="container">
    <div class="card-group">
      {% for datainfo in datainfos2 %}
        <div class="card" style="">
          <div class="card-body">
            <h5 class="card-title">{{ datainfo.local }}</h5>
            <p class="card-text">{{ pagination2.count }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}