{% extends 'layout/base.html' %}

{% block head %}
  <title>ECG 실시간 부정맥 검출 & 공간에 따른 스트레스 분석</title>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body text-center pb-0">
            <img src="https://img.icons8.com/material-outlined/48/000000/heart-with-pulse.png" width="70" height="70">
            <h4 class="mt-2">ECG 실시간 부정맥 검출 & 공간에 따른 스트레스 분석</h4>
            <br>
            <h5 class="mt-2">LOGIN</h5>

            <form action="/user/signin" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.username(class='form-control mt-4', placeholder='아이디') }}
                  <div class="invalid-feedback d-block text-left">
                    {{ form.username.errors[0] }}
                  </div>
                </div>
                <div class="form-group">
                  {{ form.password(class='form-control mt-3', placeholder='비밀번호') }}
                  <div class="invalid-feedback d-block text-left">
                    {{ form.password.errors[0] }}
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">로그인</button>
            </form><br>
            <a href="/user/signup" class="text-left"><p class="small">회원가입</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}