{% extends 'layout/base.html' %}

{% block head %}
  <title>signup</title>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body text-center">
            <img src="/static/image/profile.png" class="w-75 rounded-circle">
            <h4 class="mt-2">ECG 실시간 부정맥 검출 & 공간에 따른 스트레스 분석</h4>
            <h5 class="mt-2">회원가입</h5>

            <form class = "register__input" action="/user/signup" method="post">
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ form.username(class='form-control mt-4', placeholder='아이디') }}
                <div class="invalid-feedback d-block text-left">
                  {{ form.username.errors[0] }}
                </div>
              </div>
              <div class="form-group">
                {{ form.password(class='form-control mt-4', placeholder='password') }}
                <div class="invalid-feedback d-block text-left">
                  {{ form.password.errors[0] }}
                </div>
              </div>
              <div class="form-group">
                {{ form.name(class='form-control mt-3', placeholder='이름') }}
                <div class="invalid-feedback d-block text-left">
                  {{ form.name.errors[0] }}
                </div>
              </div>
              <div class="form-group">
                {{ form.email(class='form-control mt-3', placeholder='email') }}
                <div class="invalid-feedback d-block text-left">
                  {{ form.email.errors[0] }}
                </div>
              </div>
              <div class="form-group">
                {{ form.gender(class='form-control mt-3', placeholder='성별(여성/남성)') }}
                <div class="invalid-feedback d-block text-left">
                  {{ form.gender.errors[0] }}
                </div>
              </div>
              <div class="form-group">
                {{ form.weight(class='form-control mt-3', placeholder='weight') }}
                <div class="invalid-feedback d-block text-left">
                  {{ form.weight.errors[0] }}
                </div>
              </div>
              <div class="form-group">
                {{ form.height(class='form-control mt-3', placeholder='height') }}
                <div class="invalid-feedback d-block text-left">
                  {{ form.height.errors[0] }}
                </div>
              </div>
              <input type="submit" value="signup" class="form-control btn" style="background-color: #ee8978; color: white">
            </form>
            <a class="text-left" href="/user/signin"><p class="small">로그인 화면으로</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}